---
import SidebarLayout from '../layouts/SidebarLayout.astro';
import InviteDashboard from '../components/InviteDashboard';
import InviteErrorBoundary from '../components/InviteErrorBoundary';

// This page is for admins and clinicians only
---

<SidebarLayout title="Manage Invites - Genascope">
  <main class="min-h-screen bg-gray-50">
    <InviteErrorBoundary client:load>
      <InviteDashboard client:load />
    </InviteErrorBoundary>
  </main>
</SidebarLayout>
